.vs/
*.user

bin/
obj/

*.nupkg
project.lock.json
project.assets.json
*.nuget.cache
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.targets

**/CopilotIndices/
**/SemanticSymbols.*

# Others
*.suo
*.cache
*.db
*.db-wal
*.db-shm
*.vshost.*
*.log
/Reference
/CLAUDE.md
/.claude
node_modules/

/~/.nuget/packages
