@model List<zuHause.Models.FurnitureCategory>

@if (Model != null && Model.Any())
{
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a class="text-decoration-none"
                   href="@Url.Action("ClassificationItems", "Furniture", new { categoryId = item.FurnitureCategoriesId })">
                    @item.Name
                </a>
            </li>
        }
    </ul>
}
else
{
    <p>目前無分類資料。</p>
}


