@using zuHause.ViewModels.MemberViewModel
@model ForgotPasswordViewModel


<form asp-action="ResetPassword" method="post" class="w-100 text-light d-flex justify-content-center gap-3 flex-column">
            <div class="row mx-auto w-100">
                <div class="col-12 mx-auto p-0 d-flex flex-column gap-2">
                    <div class="input-group has-validation password-area pwd-hidden">
                        <span class="input-group-text  rounded-0 px-3 bg-white">
                            <i class="text-aqua bi bi-lock-fill"></i>
                        </span>
                        <div class="form-floating ">
                            <input type="password" class="form-control rounded-0 pe-5"
                                   placeholder="Password" asp-for="OriginalPassword" data-type="pwd">
                            <label asp-for="OriginalPassword"></label>
                        </div>
                        <span class="input-group-text  rounded-0 p-0 bg-white">
                            <button type="button" class="btn btn-aqua-color toggle-pwd">
                                <i class="text-aqua bi bi-eye"></i>
                                <i class="text-aqua bi bi-eye-slash"></i>
                            </button>
                        </span>
                        <span class="invalid-feedback opacity-100" asp-validation-for="OriginalPassword">
                        </span>
                    </div>
                    <div class="input-group has-validation password-area pwd-hidden">
                        <span class="input-group-text  rounded-0 px-3 bg-white">
                            <i class="text-aqua bi bi-lock-fill"></i>
                        </span>
                        <div class="form-floating ">
                            <input type="password" class="form-control rounded-0 pe-5"
                                   placeholder="Password" asp-for="UserPassword" data-type="pwd">
                            <label asp-for="UserPassword"></label>
                        </div>
                        <span class="input-group-text  rounded-0 p-0 bg-white">
                            <button type="button" class="btn btn-aqua-color toggle-pwd">
                                <i class="text-aqua bi bi-eye"></i>
                                <i class="text-aqua bi bi-eye-slash"></i>
                            </button>
                        </span>
                        <span class="invalid-feedback opacity-100" asp-validation-for="UserPassword">
                        </span>
                    </div>
                    <div class="input-group has-validation password-area pwd-hidden">
                        <span class="input-group-text  rounded-0 px-3 bg-white">
                            <i class="text-aqua bi bi-lock-fill"></i>
                        </span>
                        <div class="form-floating ">
                            <input type="password" class="form-control rounded-0 pe-5"
                                   placeholder="Password" asp-for="ConfirmPassword" data-type="pwd">
                            <label asp-for="ConfirmPassword"></label>
                        </div>
                        <span class="input-group-text  rounded-0 p-0 bg-white">
                            <button type="button" class="btn btn-aqua-color toggle-pwd">
                                <i class="text-aqua bi bi-eye"></i>
                                <i class="text-aqua bi bi-eye-slash"></i>
                            </button>
                        </span>
                        <span class="invalid-feedback opacity-100" asp-validation-for="ConfirmPassword">
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mx-auto w-100">
                <div class="col-12 d-flex flex-column align-items-center gap-2 p-0">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <button class="btn btn-aqua w-100" type="submit">確認修改</button>
                </div>
            </div>
</form>