<div class="list-group col-2 px-3 d-flex flex-column gap-3 position-sticky top-0">
    <a href="#" class="list-group-item list-group-item-action rounded-1 text-center active" aria-current="true">
        會員資料管理
    </a>
    <a href="#" class="list-group-item list-group-item-action rounded-1 text-center">通知/訊息管理</a>
    <a href="#" class="list-group-item list-group-item-action rounded-1 text-center">申請紀錄管理</a>
    <a href="#" class="list-group-item list-group-item-action rounded-1 text-center">我的合約</a>
    <a href="#" class="list-group-item list-group-item-action rounded-1 text-center">我的收藏</a>
</div>