@{
    Layout = "_AdminLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="/Admin/admin_userslist">admin_usersList</a><br>
    <a href="/Admin/admin_landlordList">admin_landlordList</a><br>
    <a href="/Admin/admin_userDetails">admin_userDetails</a><br>
    <a href="/Admin/admin_systemMessageList">admin_systemMessageList</a><br>
    <a href="/Admin/admin_propertyDetails">admin_propertyDetails</a><br>
    <a href="/Admin/admin_propertiesList">admin_propertiesList</a><br>
    <a href="/Admin/admin_customerServiceList">admin_customerServiceList</a><br>
    <a href="/Admin/admin_customerServiceDetails">admin_customerServiceDetails</a><br>
    <a href="/Admin/admin_systemMessageNew">admin_systemMessageNew</a><br>
    <a href="~/uploads/userPhoto/132cfcb9-c19a-4360-9500-d0e2e10b6192.jpg" target="_blank">a</a>
    @* <a href="檔案路徑" target="_blank">身分證正面</a> *@
    <a href="Document/5073/original/63cd29a1750a45a59e8b99da4805fe6e.pdf">aaaa</a>
        
</div>