@using zuHause.ViewModels.MemberViewModel
@{
    ViewData["activePage"] = "MemberContracts";
}
@model List<ContractsViewModel>

<div class="row w-100 gx-5 justify-content-center position-relative h-100">
    @await Html.PartialAsync("_PartialMemberSideBar")
    <div class="col-10 d-flex justify-content-start flex-column
        align-items-center">
        <div class="row w-100">
            <h1 class="fs-3 text-white px-0 mb-3">合約管理</h1>
            <hr />
            <div class="col-12 px-0">
                <div class="tab-content" id="ApplicationTypeContent">
                    <div class="tab-pane fade show active py-3" id="allItemTab-pane" role="tabpanel"
                         aria-labelledby="allItemTab" tabindex="0">
                        <div class="row w-100 mx-0 mb-3 align-items-center justify-content-end">
                            <div class="col-auto px-0">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>合約狀態</option>

                                    @foreach (SystemCode item in ViewBag.codeCategory)
                                    {

                                        <option value="@item.Code">@item.CodeName</option>

                                    }

                                </select>
                            </div>
                        </div>
                        <div class="row w-100 mx-0 gy-3">


                            @foreach (ContractsViewModel item in Model)
                            {
                                @await Component.InvokeAsync("MemberContractCard", new { model = item })
                            }

                        </div>

                    </div>
                    <div class="tab-pane fade" id="applyHouseViewing-pane" role="tabpanel"
                         aria-labelledby="applyHouseViewing" tabindex="0">
                        ...
                    </div>
                    <div class="tab-pane fade" id="applyRental-pane" role="tabpanel" aria-labelledby="applyRental"
                         tabindex="0">
                        ...
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="contactService" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="contactServiceLabel">聯絡客服</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-3">
                        <form action="" method="post" class="w-100">
                            <div class="row mx-auto w-100 gap-1 mb-2">
                                <div class="col-12 px-0 pb-1">
                                    <label for="selectReason">事由</label>
                                </div>
                                <div class="col-12 px-0 pb-2">
                                    <select class="form-select" aria-label="Default select example" id="selectReason">
                                        <option selected>請選擇事由</option>
                                        <option value="1">合約已完成</option>
                                        <option value="2">合約簽署中</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mx-auto w-100 gap-1 mb-2">
                                <div class="col-12 px-0 pb-2">
                                    <label for="contactInstructions">說明</label>
                                </div>
                                <div class="col-12 px-0 pb-1">
                                    <textarea class="form-control" id="contactInstructions" rows="3" style="resize:none;"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-aqua">送出</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>

@section Scripts {
    <script src="~/js/changeMemberContractCard.js"></script>
}