@{
    ViewData["Title"] = "付款成功";
    Layout = "~/Views/Shared/_NavigationBar.cshtml";
}
<h2>@ViewBag.Message</h2>
<div class="text-center mt-5">
    <h2>@ViewBag.Message</h2>
    <p>您的訂單已成立！</p>
    <p>訂單編號：@ViewBag.OrderId</p>
    <p><a href="/Furniture/OrderHistory">查看訂單記錄</a></p>
</div>
