@using System.Security.Claims
@{
    // ViewData["CenterBody"] = true;

    // ViewData["Title"] = "登入";
}

<div class="d-flex flex-column">
    <a asp-area="" asp-controller="Member" asp-action="Login">登入 Login</a>
    <a asp-area="" asp-controller="Member" asp-action="MemberProfile">租客：會員資料管理 MemberProfile</a>
</div>