@{
    ViewData["CenterBody"] = true;
    ViewData["Title"] = "登入成功";
}

<form action="" method="post" class="w-100 text-light">
    <div class="row">
        <div class="col-4 mx-auto d-flex flex-column gap-3 p-5 shadow-lg bg-white-aqua">
            <h1 class="text-start title-text">登入您的帳戶</h1>
            <div class="my-4 mx-auto w-100 d-flex align-items-center justify-content-center gap-3">
                <div>
                    <i class="bi bi-check-circle-fill fs-1"></i>
                </div>
                <div class="fs-2">登入成功</div>
            </div>
            <div class="row mx-auto w-100">
                <div class="col-12 d-flex flex-column align-items-center gap-2 p-0">
                    <small>五秒後自動回到首頁</small>
                    <a class="btn btn-aqua w-100 ">回到首頁</a>
                </div>
            </div>
        </div>
    </div>
</form>

@* 目前有這一頁，後面會變成只是改掉區塊 *@