@{
    ViewData["Title"] = "個人檔案檢視";
}

<div class="row w-100 gx-5 justify-content-center position-relative h-100">
    @await Html.PartialAsync("_PartialMemberSideBar")
    <div class="col-9 d-flex justify-content-start flex-column
        align-items-center">
        <div class="row w-100">
            <h1 class="fs-3 text-white px-0">個人檔案檢視</h1>
            <div class="col-12 card border-dark my-3">
                <div class="card-body row">
                    <div class="col-3 d-flex flex-column gap-2">
                        <div class="user-image border border-1 border-black rounded-2 ratio ratio-1x1">
                            <img class="w-100 h-100 object-fit-cover" src="@Url.Content(ViewBag.userPhoto)" alt="">
                        </div>
                        <div class="row m-0 align-items-center justify-content-center gap-1">
                            <div class="col-auto p-0">
                                <div class="input-group">
                                    <label class="btn btn-aqua py-0 rounded-1 input-group-text w-100" role="button"
                                           for="inputUserImage">上傳照片</label>
                                    <input type="file" class="form-control d-none" id="inputUserImage" accept=".jpg,.png,.webp">
                                </div>
                            </div>
                            <div class="col-auto p-0">
                                <button type="button" class="btn btn-aqua py-0 w-100 d-none" id="uploadButton">確認上傳</button>
                            </div>
                        </div>
                        <span class="invalid-feedback opacity-100 d-block text-center"
                              id="userUploadStatus"></span>
                    </div>

                    <div class="col">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item w-50 border-0 d-flex align-items-center">歡迎回來，XXXX</li>
                            <li class="list-group-item w-50 border-0">
                                <div class="row">
                                    <div class="col-auto d-flex align-items-center gap-1">
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="bi bi-phone-fill"></i>
                                            <span>手機號碼</span>
                                        </div>
                                        <div class="review-status d-flex align-items-center gap-1">
                                            <i class="bi bi-exclamation-circle-fill fs-6"></i>
                                            <small>審核失敗</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal-sm">
                            <li class="list-group-item w-50 border-0 d-flex align-items-center gap-2">
                                <span>目前身分：房客</span>
                                <button type="button" class="btn btn-aqua py-0">切換身分</button>
                            </li>
                            <li class="list-group-item w-50 border-0">
                                <div class="row">
                                    <div class="col-auto d-flex align-items-center gap-1">
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="bi bi-person-vcard-fill"></i>
                                            <span>身分認證</span>
                                        </div>
                                        <div class="review-status d-flex align-items-center gap-1">
                                            <i class="bi bi-exclamation-circle-fill fs-6"></i>
                                            <small>審核失敗</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal-md">
                            <li class="list-group-item w-50 border-0 flex-fill d-flex align-items-center">註冊日期：2025-05-12</li>
                            <li class="list-group-item w-50 border-0">
                                <div class="row">
                                    <div class="col-auto d-flex align-items-center gap-1">
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="bi bi-envelope-fill"></i>
                                            <span>電子郵件</span>
                                        </div>
                                        <!-- <div class="review-status d-flex align-items-center gap-1">
                                          <i class="bi bi-exclamation-circle-fill fs-6"></i>
                                          <small>審核失敗</small>
                                        </div> -->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <hr class="w-100">
        <div class="row w-100 text-white mt-2">
            <h2 class="fs-3 text-white px-0">會員資料修改</h2>
            <div class="col-12 mt-3 d-flex flex-column gap-3 align-items-start justify-content-center">
                <div class="row w-100">
                    <label for="inputPhone" class="col-2 col-form-label text-end">手機號碼</label>
                    <div class="col-auto d-flex align-items-center gap-3">
                        <input type="hidden" readonly class="form-control-plaintext" id="inputPhone" value="0912345678">
                        <p class="m-0">0912345678</p>
                        <div class="review-status d-flex align-items-center gap-1">
                            <i class="bi bi-check-circle-fill fs-6"></i>
                            <small>已認證</small>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center w-100">
                    <label for="inputPassword" class="col-2 col-form-label text-end">密碼</label>
                    <div class="col-10 pe-0 d-flex align-items-center gap-3">
                        <div class="row w-100 align-items-center">
                            <div class="col-5">
                                <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpInline"
                                       placeholder="請輸入密碼" value="1234567890" disabled>
                            </div>
                            <button type="button" class="btn btn-aqua py-0 col-auto" data-bs-toggle="modal"
                                    data-bs-target="#changePassword">
                                修改密碼
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row w-100">
                    <label for="inputName" class="col-2 col-form-label text-end">姓名</label>
                    <div class="col-auto d-flex align-items-center gap-3">
                        <input type="hidden" readonly class="form-control-plaintext" id="inputName" value="0912345678">
                        <p class="m-0">金大明</p>
                        <div class="review-status d-flex align-items-center gap-1">
                            <i class="bi bi-check-circle-fill fs-6"></i>
                            <small>已實名認證</small>
                        </div>
                    </div>
                </div>
                <div class="row w-100">
                    <label for="inputUserId" class="col-2 col-form-label text-end">身分證字號</label>
                    <div class="col-auto d-flex align-items-center gap-3">
                        <input type="hidden" readonly class="form-control-plaintext" id="inputUserId" value="0912345678">
                        <p class="m-0">L220112332</p>
                    </div>
                </div>
                <div class="row align-items-center w-100">
                    <label for="inputEmail" class="col-2 col-form-label text-end">電子信箱</label>
                    <div class="col pe-0 d-flex align-items-center gap-3">
                        <div class="row w-100 align-items-center">
                            <div class="col-5 is-invalid">
                                <input type="email" id="inputEmail" class="form-control is-invalid"
                                       aria-describedby="inputEmailHelpInline" placeholder="請輸入電子信箱">
                            </div>
                            <button type="button" class="btn btn-aqua py-0 col-auto" data-bs-toggle="modal"
                                    data-bs-target="#verificationEmail">
                                驗證信箱
                            </button>
                            <div id="inputEmailFeedback" class="invalid-feedback col">
                                密碼需為八位數
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center w-100">
                    <label for="inputName" class="col-2 col-form-label text-end">性別</label>
                    <div class="col-6 d-flex align-items-center gap-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="changeGender" id="changeGenderMale" checked>
                            <label class="form-check-label" for="changeGenderMale">
                                男性
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="changeGender" id="changeGenderFemale">
                            <label class="form-check-label" for="changeGenderFemale">
                                女性
                            </label>
                        </div>
                    </div>
                </div>
                <!-- 生日與性別應在實名認證前可改，實名認證後需要修改要找到客服，所以之後或許加上連絡客服的地方 -->
                <div class="row align-items-start w-100">
                    <label for="inputBirthday" class="col-2 col-form-label text-end">生日</label>
                    <div class="col pe-0 d-flex align-items-center gap-3">
                        <div class="row w-100 align-items-center">
                            <div class="col-5 is-invalid">

                                <input type="date" id="inputBirthday" name="inputBirthday" value="2018-07-22"
                                       class="w-100 rounded-2 border-1 is-invalid"
                                       style="padding: 0.375rem .75rem; border-color: #dee2e6;" />
                            </div>
                            <div id="inputBirthdayFeedback" class="invalid-feedback col px-0">
                                密碼需為八位數
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center w-100">
                    <label for="inputBirthday" class="col-2 col-form-label text-end">聯絡地址</label>
                    <div class="col-3 pe-1">
                        <label class="visually-hidden" for="inputLiveCity">居住縣市</label>
                        <select class="form-select" id="inputLiveCity">
                            <option selected>縣市</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-3 px-1">
                        <label class="visually-hidden" for="inputLiveDistrict">居住區域</label>
                        <select class="form-select" id="inputLiveDistrict">
                            <option selected>區域</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-4 px-1">
                        <label class="visually-hidden" for="inputAddress">詳細地址</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="請輸入地址">
                    </div>
                </div>
                <div class="row align-items-center w-100">
                    <label for="inputBirthday" class="col-2 col-form-label text-end">主要承租區域</label>
                    <div class="col-3 pe-1">
                        <label class="visually-hidden" for="inputPerferredCity">主要承租縣市</label>
                        <select class="form-select" id="inputPerferredCity">
                            <option selected>縣市</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-3 px-1 pe-0">
                        <label class="visually-hidden" for="inputPerferredDistrict">主要承租區域</label>
                        <select class="form-select" id="inputPerferredDistrict">
                            <option selected>區域</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="row w-100 mt-3 mb-5">
                    <div class="col-4 mx-auto">
                        <button type="button" class="btn btn-aqua w-100">儲存修改</button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="w-100">
        <div class="row w-100 text-white identity-verification-area mt-2">
            <h2 class="fs-3 text-white px-0">身分認證</h2>
            <div class="col-12 mt-3 d-flex flex-column gap-3 align-items-start justify-content-center">

                <div class="row align-items-center w-100 input-id-area">
                    <p class="col-2 col-form-label text-end">身分證正面</p>
                    <div class="col pe-0 d-flex align-items-center gap-3">
                        <div class="row align-items-center w-100">
                            <label for="inputIdFront" class="col-4 col-form-label rounded-1 bg-white text-secondary text-truncate" role="button">請上傳身分證正面照片</label>
                            <!-- 沒上傳之前隱藏，上傳後顯示 -->
                            <input type="file" id="inputIdFront" class="col-auto d-none" aria-describedby="inputIdFrontHelpInline"
                                   placeholder="請上傳身分證正面照片">
                            <div class="col-auto id-error-msg"></div>
                            <div class="review-status d-flex align-items-center gap-1 col-auto">
                                <i class="bi bi-check-circle-fill fs-6"></i>
                                <small>已完成審核</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center w-100 input-id-area">
                    <p class="col-2 col-form-label text-end">身分證反面</p>
                    <div class="col pe-0 d-flex align-items-center gap-3">
                        <div class="row align-items-center w-100">
                            <label for="inputIdBack" class="col-4 col-form-label rounded-1 bg-white text-secondary text-truncate" role="button">請上傳身分證反面照片</label>
                            <!-- 沒上傳之前隱藏，上傳後顯示，上傳或審核後，用label來顯示處理文字，用disabled禁止上傳 -->
                            <input type="file" id="inputIdBack" class="col-auto d-none" aria-describedby="inputIdBackHelpInline"
                                   placeholder="請上傳身分證反面照片">
                            <div class="col-auto id-error-msg"></div>
                            <div class="review-status d-flex align-items-center gap-1 col-auto">
                                <i class="bi bi-check-circle-fill fs-6"></i>
                                <small>已完成審核</small>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    input::file-selector-button {
                        display: none;
                    }
                </style>
                <div class="row w-100 mx-0">
                    <div class="col-auto mx-auto ">
                        <small class="text-danger submit-id-msg"></small>
                    </div>
                </div>
                <div class="row w-100 mx-0 mb-5 align-items-center">
                    <div class="col-4 mx-auto">
                        <button type="button" class="btn btn-aqua w-100" id="submitIdFile">送出資料</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="verificationEmail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="verificationEmailLabel">驗證電子信箱</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-3">
                        <form action="" method="post" class="w-100">
                            <div class="row mx-auto w-100 gap-3 mb-2">
                                <div class="col-12 px-0 pb-2">
                                    <small>已發送驗證碼至example@gmail.com</small>
                                </div>
                                <div class="col-12 mx-auto p-0 d-flex flex-column gap-2">
                                    <div class="input-group has-validation">
                                        <span class="input-group-text rounded-0 px-3 bg-white">
                                            <i class="text-aqua bi bi-send-fill"></i>
                                        </span>
                                        <div class="form-floating is-invalid">
                                            <!-- is-invalid -->
                                            <input type="text" class=" is-invalid form-control rounded-0 pe-5" id="verificationEmailCode"
                                                   placeholder="Username" required>
                                            <label for="verificationEmailCode">請輸入驗證碼</label>
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-auto w-100">
                                <div class="col-auto mx-auto">
                                    <button type="button" class="btn btn-aqua-sub btn-sm w-100 rounded-0">重新發送(60)</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-aqua">送出</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="changePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="changePasswordLabel">修改密碼</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-3">
                        <form action="" method="post" class="w-100">
                            <div class="row mx-auto w-100">
                                <div class="col-12 mx-auto p-0 d-flex flex-column gap-2">
                                    <div class="input-group has-validation password-area pwd-hidden">
                                        <span class="input-group-text  rounded-0 px-3 bg-white">
                                            <i class="text-aqua bi bi-lock-fill"></i>
                                        </span>
                                        <div class="form-floating is-invalid ">
                                            <input type="password" class=" is-invalid form-control rounded-0 pe-5" id="user-password"
                                                   placeholder="Password">
                                            <label for="user-password">請輸入新密碼</label>
                                        </div>
                                        <span class="input-group-text  rounded-0 p-0 bg-white">
                                            <button id="toggle-pwd" type="button" class="btn btn-aqua-color">
                                                <i class="text-aqua bi bi-eye"></i>
                                                <i class="text-aqua bi bi-eye-slash"></i>
                                            </button>
                                        </span>
                                        <div class="invalid-feedback">
                                            密碼格式錯誤
                                        </div>
                                    </div>
                                    <div class="input-group has-validation password-area pwd-hidden">
                                        <span class="input-group-text  rounded-0 px-3 bg-white">
                                            <i class="text-aqua bi bi-lock-fill"></i>
                                        </span>
                                        <div class="form-floating is-invalid ">
                                            <input type="password" class=" is-invalid form-control rounded-0 pe-5" id="user-password"
                                                   placeholder="Password">
                                            <label for="user-password">請再次輸入密碼</label>
                                        </div>
                                        <span class="input-group-text  rounded-0 p-0 bg-white">
                                            <button id="toggle-pwd" type="button" class="btn btn-aqua-color">
                                                <i class="text-aqua bi bi-eye"></i>
                                                <i class="text-aqua bi bi-eye-slash"></i>
                                            </button>
                                        </span>
                                        <div class="invalid-feedback">
                                            密碼格式錯誤
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-aqua">確認修改</button>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>

@section Scripts {
    <script src="~/js/memberProfile.js"></script>
}