@using zuHause.ViewModels.MemberViewModel
@model ForgotPasswordViewModel
@{
    ViewData["CenterBody"] = true;
    ViewData["Title"] = "重新設定密碼";
}
<div class="w-100 row mx-0">
    <div class="col-4 mx-auto p-5 shadow-lg bg-aqua-gradient">
        <div class="row w-100 text-light mx-0">
            <div class="col mx-auto d-flex flex-column gap-3">
                <h1 class="text-start title-text">重新設定密碼</h1>
                @await Html.PartialAsync("_PartialResetPassword", Model)
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/hiddenPassword.js"></script>
}