@{
    ViewData["CenterBody"] = true;
    ViewData["Title"] = "重新設定密碼";
}

<form action="" method="post" class="w-100 text-light">
    <div class="row">
        <div class="col-4 mx-auto d-flex flex-column gap-3 p-5 shadow-lg bg-white-aqua">
            <h1 class="text-start title-text">重新設定密碼</h1>
            <div class="row mx-auto w-100">
                <div class="col-12 mx-auto p-0 d-flex flex-column gap-2">
                    <div class="input-group has-validation password-area pwd-hidden">
                        <span class="input-group-text  rounded-0 px-3 bg-white">
                            <i class="text-aqua bi bi-lock-fill"></i>
                        </span>
                        <div class="form-floating is-invalid ">
                            <input type="password" class=" is-invalid form-control rounded-0 pe-5" id="user-password"
                                   placeholder="Password">
                            <label for="user-password">請輸入新密碼</label>
                        </div>
                        <span class="input-group-text  rounded-0 p-0 bg-white">
                            <button id="toggle-pwd" type="button" class="btn btn-aqua-color">
                                <i class="text-aqua bi bi-eye"></i>
                                <i class="text-aqua bi bi-eye-slash"></i>
                            </button>
                        </span>
                        <div class="invalid-feedback">
                            密碼格式錯誤
                        </div>
                    </div>
                    <div class="input-group has-validation password-area pwd-hidden">
                        <span class="input-group-text  rounded-0 px-3 bg-white">
                            <i class="text-aqua bi bi-lock-fill"></i>
                        </span>
                        <div class="form-floating is-invalid ">
                            <input type="password" class=" is-invalid form-control rounded-0 pe-5" id="user-password"
                                   placeholder="Password">
                            <label for="user-password">請再次輸入密碼</label>
                        </div>
                        <span class="input-group-text  rounded-0 p-0 bg-white">
                            <button id="toggle-pwd" type="button" class="btn btn-aqua-color">
                                <i class="text-aqua bi bi-eye"></i>
                                <i class="text-aqua bi bi-eye-slash"></i>
                            </button>
                        </span>
                        <div class="invalid-feedback">
                            密碼格式錯誤
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-auto w-100">
                <div class="col-12 d-flex flex-column align-items-center gap-2 p-0">
                    <button class="btn btn-aqua w-100" type="submit">確認修改</button>
                </div>
            </div>
        </div>
    </div>
</form>