@* 申請看房(完成)，會打資料到rentalApplications資料表 *@
@* @await Component.InvokeAsync("ApplyHouseModal", new { propertyId = 3032, userId = Convert.ToInt32(User.FindFirst("UserId")!.Value) }) *@

@* 申請租賃(完成)，會打資料到rentalApplications資料表，及上傳圖片到userUploads *@
 @* @await Component.InvokeAsync("ApplyRentalModal", new { propertyId = 3032, userId = Convert.ToInt32(User.FindFirst("UserId")!.Value)}) *@


 @* 未完成：租客簽名、查看租客申請*@
 @* 查看申請，傳入房源id與申請id，帶出資料：暫定不做，應該會在聊天室看到 *@
@* @await Component.InvokeAsync("ViewRentalApplicationsModal", new { propertyId = 3032, applicationId = 16}) *@



@* @await Component.InvokeAsync("SignContractModal") *@


<button onclick="updateStatus(16, 'PENDING')">待審核</button>
<button onclick="updateStatus(16, 'APPROVED')">同意申請</button>
<button onclick="updateStatus(16, 'REJECTED')">拒絕申請</button>


@section Scripts {
    <script src="~/js/selectDistrict.js"></script>
    <script src="~/js/applyRentalInput.js"></script>
    <script src="~/js/rentalDateCount.js"></script>
    <script src="~/js/callUpdateApplicationStatus.js"></script>

}