body {
}
.sidebar {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

    .sidebar .btn {
        text-align: left;
    }
.tab-item {
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
}

    .tab-item:hover {
        background-color: #e2e6ea;
    }

    .tab-item.bg-secondary {
        background-color: #6c757d !important;
    }
