body {
    background: linear-gradient(135deg, #38b5a0, #8ce1d3);
    margin: 0;
    padding: 0;
}

/* 跑馬燈背景與字體樣式 */
.marquee-bar {
    background: linear-gradient(to right, #006644, #009977); /* 深綠色漸層 */
    color: white;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 1rem;
}

/*特惠商品標籤*/
.badge-discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    z-index: 10;
}

