@using zuHause.AdminViewModels
@{
    MemberData memberData = ViewData["MemberData"] as MemberData;
    if (memberData == null)
    {
        return;
    }
}

<!-- 頁籤導航區 -->
<ul class="nav nav-tabs" id="memberDetailsTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="basic-info-tab" data-bs-toggle="tab" data-bs-target="#basic-info" type="button" role="tab" aria-controls="basic-info" aria-selected="true">
            基本資料
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="renter-activity-tab" data-bs-toggle="tab" data-bs-target="#renter-activity" type="button" role="tab" aria-controls="renter-activity" aria-selected="false">
            租客活動
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="support-history-tab" data-bs-toggle="tab" data-bs-target="#support-history" type="button" role="tab" aria-controls="support-history" aria-selected="false">
            溝通與支援
        </button>
    </li>
    @if (memberData.IsLandlord)
    {
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="landlord-activity-tab" data-bs-toggle="tab" data-bs-target="#landlord-activity" type="button" role="tab" aria-controls="landlord-activity" aria-selected="false">
                房東活動
            </button>
        </li>
    }

</ul>