@{
}
<div class='row g-3'>
    <div class="col-md-6">
        <div class="card p-3">
            🛑 熱門家具承租：
            <ul id="furnitureRankings"></ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-3">
            🔥 熱門租屋地區：
            <ol id="rentalCityRankings"></ol>
        </div>
    </div>
    <div class='col-md-6'>
        <div class='card p-3'>
            🔍待驗證房源：
            <ol id="pendingList"></ol>
        </div>
    </div>
    <div class='col-md-6'>
        <div class='card p-3'>
            ✅已驗證房源：
            <ol id="verifiedList"></ol>
        </div>
    </div>
</div>