@{
}
<div class="row g-3">
    <!-- 圓餅圖 -->
    <div class="col-md-6">
        <canvas id="chartPay"></canvas>
        <hr />
        <!-- 總金額 -->
        <div class="card p-3">💰 上架服務費應收總額：<h4 id="totalDue">Loading...</h4></div>
        <br />
        <div class="card p-3">💵 上架服務費實收總額：<h4 id="totalPaid">Loading...</h4></div>
    </div>

    <!-- 近五日折線圖 + 本月走勢圖 -->
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <canvas id="chartTrend"></canvas>
            </div>
            <div class="col-md-12 mt-4">
                <canvas id="chartMonthlyPay"></canvas>
            </div>
        </div>
    </div>
</div>


<!-- 訂單統計 -->
<div class="card p-3 mb-3">
    <h5 class="mb-3">📅 當日租屋與租家具訂單概況</h5>
    <div id="orderStatsTable">Loading...</div>
</div>