@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class='row g-3'>
    <div class='col-md-6'>
        <canvas id='chartPay'>
        </canvas>

    </div>
    <div class='col-md-6'>
        <div class='card p-3'>💰 上架服務費應收總額：<h4>NT$ 86,400</h4></div>
        <br>
        <div class='card p-3'>💵 上架服務費實收總額：<h4>NT$ 56,400</h4></div>
        <br>
    </div>
</div>
<div class="card p-3 mb-3">
    <h5 class="mb-3">📅 當日租屋與租家具訂單概況</h5>
    <div id="orderStatsTable"></div>
    <!-- ⭐ 這是你要插入表格的位置 -->
</div>