@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class='row g-3'>
    <div class='col-md-6'>
        <div class='card p-3'>🖥️ 伺服器負載: 正常 / 過高 / 關機</div>
        <canvas id='chartCPU'></canvas>
    </div>

    <div class='col-md-6'>
        <h3>🗄️ 備份總表</h3>
        <div class='card p-3'>🗄️ 最近備份 ID: XXX：今日 12:00</div>
        <div class='card p-3'>🗄️ 備份 ID: XXX：今日 00:00</div>
        <div class='card p-3'>🗄️ 備份 ID: XXX：昨日 12:00</div>
        <div class='card p-3'>🗄️ 備份 ID: XXX：昨日 00:00</div>
    </div>

    <div class='col-md-2'>
        <div class="card p-3 mt-1 text-end">
            <label class="form-label d-block text-start">⚠️ 伺服器關機：</label>
            <button class="btn btn-sm btn-outline-danger" style="width:auto; font-size: 0.85rem;" onclick="confirmShutdown()">關機</button>
        </div>
    </div>
</div>
