@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class='row g-3'>
    <div class='col-md-12'>
        <div class='card p-3'>🖥️ 伺服器效能監控（多指標）</div>
    </div>
    <div class='col-md-6'><canvas id='chart_cpu' height="120"></canvas></div>
    <div class='col-md-6'><canvas id='chart_ram' height="120"></canvas></div>
    <div class='col-md-6'><canvas id='chart_disk' height="120"></canvas></div>
    <div class='col-md-6'><canvas id='chart_netUpload' height="120"></canvas></div>
    <div class='col-md-6'><canvas id='chart_netDownload' height="120"></canvas></div>
</div>
