@* Views/Dashboard/_Tab_overview.cshtml *@
<div id="tab-overview" class="row g-3">
    <div class="col-md-4">
        <div class="card p-3">📈 今日註冊：<h4>124 位</h4></div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">🏠 今日上架房源：<h4>32 間</h4></div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">🛋️ 今日出租家具：<h4>68 件</h4></div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">📈 本周註冊：<h4>1240 位</h4><canvas id="total_registration" height="100"></canvas></div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">🏠 本周上架房源：<h4>320 間</h4><canvas id="Total_Listings_Houses" height="100"></canvas></div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">🛋️ 本周出租家具：<h4>680 件</h4><canvas id="Total_Shelves_Furniture" height="100"></canvas></div>
    </div>
    <div class="col-md-6">
        <canvas id="chartOrders" height="200"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="chartRevenue" height="200"></canvas>
    </div>
</div>
@section Scripts {
        <script>
            // your Chart.js or other script
        </script>}