@{
    ViewData["activePage"] = "MemberInbox";
}
<div class="row w-100 gx-5 justify-content-center position-relative h-100">
    @await Html.PartialAsync("_PartialMemberSideBar")
    <div class="col-10 d-flex justify-content-start flex-column
        align-items-center">
        <div class="row w-100">
            <h1 class="fs-3 text-white px-0 mb-3">通知管理</h1>
            <hr />
            <div class="col px-0">
                
            </div>
        </div>


    </div>
</div>

@section Scripts {
    <script src="~/js/memberInboxJs/changeContentName.js"></script>
}