@{
    ViewData["activePage"] = "MemberInbox";
}
<div class="row w-100 gx-5 justify-content-center position-relative h-100">
    @await Html.PartialAsync("_PartialMemberSideBar")
    <div class="col-10 d-flex justify-content-start flex-column
        align-items-center content-container overflow-hidden" style="height: 60vh;">
        <div class="row w-100">
            <h1 class="fs-3 text-white px-0">通知 / 訊息管理</h1>
        </div>
        <div class="row w-100 my-3">
            <div class="col-12 p-0">
                <ul class="nav nav-tabs" id="ApplicationType" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-black active" id="allItemTab" data-bs-toggle="tab"
                           data-bs-target="#allItemTab-pane" role="tab" aria-controls="allItemTab-pane"
                           aria-selected="true">
                            通知
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-black" id="applyRental" data-bs-toggle="tab"
                           data-bs-target="#applyRental-pane" role="tab" aria-controls="applyRental-pane"
                           aria-selected="false">
                            私訊
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row w-100 h-100 rounded-1 overflow-hidden">
            <div class="tab-pane fade show active p-0 h-100" id="allItemTab-pane" role="tabpanel"
                 aria-labelledby="allItemTab" tabindex="0">
                <div class="row w-100 mx-0 gy-0 flex-column align-items-lg-start overflow-y-scroll h-100 flex-nowrap">

                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card col rounded-0 border-bottom-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-body d-flex align-items-center row">
                                    <h5 class="card-title m-0 col-3">系統通知</h5>
                                    <p class="card-text m-0 col">主旨：有一筆新同意</p>
                                    <p class="card-time m-0 col-3 text-end">2025-07-05 16:40</p>
                                </a>
                            </div>
                            <div class="col-auto d-flex align-items-center justify-content-end">
                                <button class="btn py-0"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>




                </div>

            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/memberInboxJs/changeContentName.js"></script>
}