[data-role="recipient"] .card-content-time {
    text-align: right;
    margin-left: auto;
}

[data-role="sender"] .card {
    margin-left: auto;
}

[data-role="sender"] .card-content {
    flex-direction: row-reverse;
}

[data-role="sender"] .card-content-text {
    justify-content: end;
}

[data-role="sender"] .card-content-time {
    text-align: left;
}
